body {
    background-color: #F8F0E5;
    /*font-family: 'Roboto', sans-serif;*/
}

h1, h2, h3 {
    font-family: Ubuntu, sans-serif;
    color: #092f6d;
}

h3 {
    text-decoration: underline;
}

hr {
    width: 90%;
    color: #dee2e6;
}

p {
    font-family: "Ubuntu Mono", sans-serif;
    color: #092f6d;
}




/*#gif1 {*/
/*    height: 200px;*/
/*    width: 350px;*/
/*}*/

/*#gif2 {*/
/*    height: 200px;*/
/*}*/

/*#gif3 {*/
/*    height: 200px;*/
/*    width: 200px;*/
/*}*/

.profile-picture {
    width: 260px;
    height: 260px;
}